.picture {
    width: 55px;
    height: 55px;
    border: 1px solid black;
    display: block;
}

#hero {
    width: 100px;
    height: 150px;
    padding: 10px;
    /* border: 1px solid black; */
    position: absolute;
    right: 250px;
    top: 5px;
    z-index: 1;
}

#heroName {
    max-width: 50%;
}

#heroStats {
    border: 1px solid black;
    display: inline-block;
    height: 170px;
}

#heroWrapper {
    border: 1px solid black;
    max-width: 50%;
}

#heroWrapper h1 {
    text-align: center;
}

#newHeroNameInput {
    height: 25px;
    max-width: 120px;
}

#changeNameHeroButton {
    height: 25px;
    color: #ffffff;
    background-color: black;
    max-width: 120px;
}

#nameChangeWrapper {
    display: block;
    border: 1px solid black;
    max-width: 120px;
}

#nameChangeWrapper label {
    display: block;
}

#imgHero {
    display: inline-block;
}

#skeleton1,
#skeleton2,
#skeleton3,
#skeleton4,
#skeleton5,
#skeleton6,
#skeleton7,
#skeleton8,
#skeleton9,
#skeleton10 {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 600px;
    right: 230px;
    z-index: 99999;
}

#freespace {
    min-height: 300px;
}

#level {
    position: absolute;
    left: 200px;
    top: 60%;
}

#skeletonArea {
    border: 1px solid black;
    background-image: url("./img/graveyard.jpeg");
    background-size: cover;
    width: 50%;
    float: right;
    background-repeat: unset;
    top: 0px;
    position: absolute;
    right: 0px;
    z-index: 0;
    height: 100%;
}